| config = {};
| config.application_name = '#{application_name}';
| config.db = {};
| config.db.user = '#{db_user}';
| config.db.password = '#{db_password}';
| config.db.host = '#{db_host}';
| config.db.database = '#{db_name_config}';
| config.db.port = #{db_port};
| config.db.version = '0.2.01234';
| config.cdr = {};
| config.cdr.database = '#{db_name_cdr}';
| config.cdr.version = '1.0.0';
| config.webserver = {};
| config.webserver.port = #{webserver_port};
| config.webserver.ip_allowed = #{webserver_ip_allowed};
| module.exports = config;