| config = {};
| config.application_name = '#{application_name}';
| config.db = {};
| config.db.user = '#{db_user}';
| config.db.password = '#{db_password}';
| config.db.host = '#{db_host}';
| config.db.database = '#{db_name_config}';
| config.db.port = #{db_port};
| config.db.version = '0.2.01234';
| config.cdr = {};
| config.cdr.database = '#{db_name_cdr}';
| config.cdr.version = '1.0.0';
| config.webserver = {};
| config.webserver.port = #{webserver_port};
| config.webserver.ip_allowed = #{webserver_ip_allowed};
| config.webserver.logio_port = #{webserver_logio_port};
| config.webserver.tty_port = #{webserver_tty_port};
| config.phone_release_time = #{phone_release_time};//30 mins number busy (registration)
| config.soundpath = '#{soundpath}';
| config.exec_script_path = '#{exec_script_path}';
| config.rrd_path = '#{rrd_path}';
| config.store = {};
| config.store.path = '/opt/store/';
| config.multi = #{multi};
| config.server_hosts_file = '#{server_hosts_file}';
| module.exports = config;